
<body>   
    <div>введите данные</div><br />
    
    <form method="post" action="/Controllers/CommentController/Create">
     <lable>Id: </lable>
     <input type="number" name="id"/><br />
     <lable>IdArticle: </lable>
     <input type="number" name="idArticle" /><br />
     <lable>Title: </lable>
     <input type="text" name="title" /><br />

     <input type="submit" value="Create"/>
     </form>
</body>


