@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Controllers/CommentController/Update">
    <lable> ID:</lable>
    <input type="text" name="titleOld" /><br />
    <lable> Name:</lable>
    <input type="text" name="titleNew" /><br />
    <lable> Lastname:</lable>
    <input type="text" name="descriptionNew" /><br />
    <input type="submit" value="Update" />
</form>