
<body>   
    <div>введите данные</div><br />
    
    <form method="post" action="/Controllers/TagController/Create">
     <lable>Id: </lable>
     <input type="number" name="id"/><br />
     
     <lable>Name: </lable>
     <input type="text" name="name" /><br />

     <input type="submit" value="Create"/>
     </form>
</body>


