
<body>   
    <div>введите данные для регистрации</div><br />
    
    <form method="post" action="/Controllers/UserController/Create">
     <lable>Name: </lable>
     <input type="text" name="name"/><br />
     <lable>Lastname: </lable>
     <input type="text" name="lastname" /><br />
     <lable>Age: </lable>
     <input type="number" name="age" /><br />
     <input type="submit" value="Registration"/>
     </form>
</body>


