
<body>   
    <div>введите данные для регистрации</div><br />
    
    <form method="post" action="/Controllers/ArticleController/Create">
     <lable>Id: </lable>
     <input type="number" name="id"/><br />
     <lable>Title: </lable>
     <input type="text" name="title" /><br />
     <lable>Description: </lable>
     <input type="text" name="description" /><br />
     <input type="submit" value="Registration"/>
     </form>
</body>


